@font-face {
    font-family: 'Proxima';
    src: url(../fonts/ProximaNova-Regular.otf);
}

@font-face {
    font-family: 'Proxima Bold';
    src: url(../fonts/ProximaNova-Bold.otf);
}

html, body {
  font-family:'Proxima';
  background-color: #07202C;
}

html {
    -webkit-font-smoothing: antialiased;
}

header {
  text-align: center;
  min-height: 400px;
  overflow: hidden;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
}

header h1 {
  font-size:60px;
  color: #D6E5EC;
  font-weight: bold;
}

header img {
  display: inline-block !important;
}

.center {

}

.small {
  max-width: 200px;
}
