/*

Easy Profile Template
http://www.templatemo.com/tm-467-easy-profile

*/

html, body {
  margin:0;
  border:0;
  padding:0;
  font-size:16px;
  font-family:'Proxima';
  overflow-x:hidden;
  position: relative;
  vertical-align: baseline;
  background-image: url('../images/bgblue.jpg');
  background-repeat: no-repeat;
}

html {
    -webkit-font-smoothing: antialiased;
}

h1 {font-size:40px;}
.border {text-shadow: 0 0 2px #000;}
.bold {font-weight: bold;}
.white {color: #fff;}

@font-face {
    font-family: 'Proxima';
    src: url(../fonts/ProximaNova-Regular.otf);
}

@font-face {
    font-family: 'Proxima Bold';
    src: url(../fonts/ProximaNova-Bold.otf);
}

/* header section */
header {
  text-align: center;
  min-height: 400px;
  overflow: hidden;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}
header img {
  display: inline-block !important;
}

.center {
  margin: auto;
}

.small {
  max-width: 200px;
}
